
<div id="main-wrapper">

  <ap-navigation></ap-navigation>

  <app-topbar></app-topbar>

      <router-outlet></router-outlet>
      <div class="container">
        <div class="row">
            <div class="col">
      
             <div class="map"></div>
              
              <p >
                
                
                Ready for offers and cooperation</p>
                 
                 <p>
            
                    Address :
                    676 INSAT Centre Urbain Nord BP، Tunis Cedex 1080, Tunisia</p>
                   
                  <p>
                    E-mail :
                   
                    info@domain.com, support@domain.com </p>
                  <p>
                    Telephone :
                    (+00) 123123456, (+00) 123123456
                   </p>
                  
                  
                 
             </div>
          <div class="col">
              <app-contact></app-contact>
           </div>
         </div>
     </div>




    <footer class="footer text-center"> 2018 &copy; Troudi-Ayat-Taieb </footer>

</div>
