

        <div class="row no-gutters"  >
          <div class="col-6 col-md-4">
            <div style="height: 500px;width: 350px;margin-top: 50px; margin-left: 50px;margin-top: 50px">
                <div class="card card-pricing popular shadow text-center px-3 mb-4">
                  <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom text-white " style="background-color: black;margin-top: 5px; width: 100%">SUMMARY</span>
                 
                  <div class="card-body pt-0">
                    <div class="row"style="margin-top:50px;font-size: 20px">
                      <div class="col-12 col-sm-6 col-md-8">
                      <ul class="list-unstyled mb-4" style="text-align: left;">
                          <li>Subtotal</li>
                          <li>Estimated Shipping  </li>
                          <li>TOTAL</li>
                          
                      </ul>
                    </div>
                    <div class="col-6 col-md-4">
                      <ul class="list-unstyled mb-4" style="text-align: right;">
                          <li>{{price}} $</li>
                          <li>6$ </li>
                          <li>{{finalPrice}} $</li>

                      </ul>
                    </div>
                    </div>

                      <a data-toggle="modal" href="#exampleModal10" target="_blank" class="btn  mb-3" style="background-color: black;color: white;margin-top:50px ">CHECKOUT</a>
                  </div>
              </div>
              </div>
            </div>
          


        <div class="col-12 col-sm-6 col-md-8">
          <div class="container" style="margin-top: 50px">
              <table id="cart" class="table table-condensed" style="border-radius: 15px;background-color: white;color: black">
                        <thead style="background-color: #b2612e;border-radius: 15px">
                        <tr>
                          <th style="width:50%">Product</th>
                          <th style="width:10%">Price</th>
                          <th style="width:8%">Quantity</th>
                          <th style="width:22%" class="text-center">Subtotal</th>
                          <th style="width:10%"></th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let book of books">
                        <tr id={{book._id}}>
                          <td data-th="Product">
                            <div class="row">
                              <div class="col-sm-2 hidden-xs"><img src="../../../../assets/images/{{book.picture}}" alt="..." class="img-responsive"/></div>
                              <div class="col-sm-10">
                                <h4 class="nomargin">{{book.title}}</h4>
                                <p>{{book.description}}</p>
                              </div>
                            </div>
                          </td>
                          <td data-th="Price">{{book.price}}</td>
                          <td data-th="Quantity">
                            <input type="number" id="mynum" class="form-control text-center" value="1">
                          </td>
                          <td data-th="Subtotal" class="text-center">{{book.price}}</td>
                          <td class="actions" data-th="">
                           
                            <button class="btn btn-danger btn-sm" (click)="removeItem($event)"><i class="fa fa-trash-o"></i></button>								
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        
                        <tr>
                          <td><a routerLink="/starter" class="btn " style="background-color: black; color: white"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                          <td colspan="2" class="hidden-xs"></td>
                          <td class="hidden-xs text-center"><strong>Total {{finalPrice}} $</strong></td>
         
                        </tr>
                      </tfoot>
                    </table>
            </div>
            </div>
          </div>


        <div class="modal hide fade" data-backdrop="false" id="exampleModal10" tabindex="-1" role="dialog" style="z-index:1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Payment Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="col-xs-12 col-md-8">
                  <div class="login-panel panel panel-default">
                    <div class="row display-tr" >
                      <div class="display-td" >                            
                          <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                      </div>
                  </div>  
                    <div class="panel-body">
                      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                        <fieldset>
                          <div class="form-group">
                              <label for="cardNum">CARD NUMBER</label>
                            <input [formControl]="cardNum" class="form-control" placeholder="Valid Card Number" type="text" autofocus="">
                          </div>
                          <div class="form-group">
                              <label for="cardExpiry"><span class="hidden-xs">EXPIRATION </span>DATE</label>
                            <input [formControl]="expiration" class="form-control" placeholder="MM / YY" type="text" value="">
                          </div>
                          <div class="form-group">
                              <label for="cvcode"><span class="hidden-xs">CV </span>CODE</label>
                            <input [formControl]="cvcode" class="form-control" placeholder="CVC" type="text" value="">
                          </div>
                          <div class="form-group">
                              <label for="address">Address</label>
                            <textarea [formControl]="address" class="form-control" type="text" value="">
                              </textarea>
                          </div>
                          <button  type="submit" class="btn btn-primary">Procede payment</button>
                        </fieldset>
                        <div class="col-xs-12" *ngIf="errored">
                            <p style="padding-top: 10px; color: red;">
                              {{ error }}
                            </p>
                          </div>
  
                      </form>
                    </div>
                  </div>
                </div><!-- /.col-->
              </div>
          
            </div>
          </div>
          </div>

          <div id="successModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="icon-box">
                    <i class="material-icons">&#xE876;</i>
                  </div>				
                  <h4 class="modal-title">Awesome!</h4>	
                </div>
                <div class="modal-body">
                  <p class="text-center">Your order has been confirmed. Check your email for detials.</p>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
                </div>
              </div>
            </div>
          </div> 