<div class="col-4" >
  <div class="card">
      <img class="card-img-top" src="/assets/images/{{book.picture}}" alt="Card image cap" >
      <div class="card-body">
        <h4 class="card-title-1" >{{book.title}}</h4>
        <h5 class="card-title-2">By: <span >{{book.author}}</span></h5>
        <p class="card-text">{{book.description}}</p>
        <a  *ngIf="!book.soldOut" (click)="addToCart()" class="btn btn-primary ">Add to cart ({{book.price}}$)</a>
        <a  *ngIf="book.soldOut"  class="btn btn-primary disabled" aria-disabled="true">Sold Out</a>
      </div>
    </div>
</div>