<div class="modal hide fade" data-backdrop="false" id="exampleModal8" tabindex="-1" role="dialog" style="z-index:1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <fieldset>
            <div class="form-group">
              <input [formControl]="fname" class="form-control" placeholder="First Name" type="text" autofocus="" required>
            </div>
            <div class="form-group">
              <input [formControl]="lname" class="form-control" placeholder="Last Name" type="text" autofocus="" required>
            </div>
            <div class="form-group">
              <input [formControl]="email" class="form-control" placeholder="E-mail" type="email" autofocus="">
            </div>
            <div class="form-group">
              <input [formControl]="password" class="form-control" placeholder="Password" type="password" value="">
            </div>
            <div class="form-group">
              <input [formControl]="cpassword" class="form-control" placeholder="Confirm Password" type="password" value="">
            </div>
            <button  type="submit" class="btn btn-primary">Register</button>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <span>you already have an account? </span>
        <button type="button" [disabled]="!form.valid" class="btn btn-success"  (click)="openRegister()" data-toggle="modal" data-target="#exampleModal8">login</button>
      </div>
  
    </div>
  </div>
  </div>