<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- User profile -->
    <div class="user-profile">

      <!-- User profile text-->
      <div class="profile-text">
        <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> Sort by
           <i class="fa fa-angle-down"></i></a>
        <div class="dropdown-menu animated flipInY">
          <!-- text-->
          <a [routerLink]="['/starter','price']" class="dropdown-item"><i class="ti-user"></i> price</a>
          <!-- text-->
          <a [routerLink]="['/starter','sales']" class="dropdown-item"><i class="ti-wallet"></i> sales</a>
          <!-- text-->
        </div>
      </div>
    </div>
    <!-- End User profile text-->
    <div class ="nav-devider"></div>
    <div class ="nav-devider"></div>
    <div class="user-profile">

      <!-- User profile text-->
      <div class="profile-text">
        <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> Filter by
           <i class="fa fa-angle-down"></i></a>
        <div class="dropdown-menu animated flipInY">
          <!-- text-->
          <a href="#" class="dropdown-item"><i class="ti-user"></i> genre</a>
          <!-- text-->
          <a href="#" class="dropdown-item"><i class="ti-wallet"></i> language</a>
          <!-- text-->
          <a href="#" class="dropdown-item"><i class="ti-email"></i> author</a>

        </div>
      </div>
      </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-devider"></li>
        <li [class.active]="showMenu === 'start'">
          <a routerLink="/starter" (click)="addExpandClass('start')" [routerLinkActive]="['router-link-active']"><i class="icon-speedometer"></i><span
              class="hide-menu">Home</span></a>
        </li>
        <li>
          <a routerLink="/onsale" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
              class="mdi mdi-equal"></i><span class="hide-menu">Books on sale</span></a>
        </li>
        <li>
          <a routerLink="/ebook" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-message-bulleted"></i><span
              class="hide-menu">e-Books</span></a>
        </li>
        <li>
          <a routerLink="/readonline" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
              class="mdi mdi-view-carousel"></i><span class="hide-menu">Read online (new)</span></a>
        </li>
        <li *ngIf="!isConnected">
          <a routerLink="/login" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
              class="mdi mdi-calendar-clock"></i><span class="hide-menu">Log in</span></a>
        </li>
        <li *ngIf="!isConnected">
          <a routerLink="/signup" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
              class="mdi mdi-arrange-bring-to-front"></i><span class="hide-menu">Register</span></a>
        </li>
        <li *ngIf="isConnected">
          <a routerLink="/starter"(click)="logout()" (click)="addExpandClass('component')"><i
              class="mdi mdi-arrange-bring-to-front"></i><span class="hide-menu">Log out</span></a>
        </li>
        <li>
          <a routerLink="/contact" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-tablet"></i><span
              class="hide-menu">contact us</span></a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
