<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" >
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- User profile -->
    <div class="user-profile">

      <!-- User profile text-->
      <div class="profile-text">
        <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> Sort by
           <i class="fa fa-angle-down"></i></a>
        <div class="dropdown-menu animated flipInY">
          <!-- text-->
          <a [routerLink]="['/starter','price']" class="dropdown-item"><i class="ti-user"></i> price</a>
          <!-- text-->
          <a [routerLink]="['/starter','sales']" class="dropdown-item"><i class="ti-wallet"></i> sales</a>
          <!-- text-->
        </div>
      </div>
    </div>
    <!-- End User profile text-->
    <div class ="nav-devider"></div>
    <div class ="nav-devider"></div>
    <div class="user-profile">

      <!-- User profile text-->
      <div class="profile-text">
        <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> Filter by
           <i class="fa fa-angle-down"></i></a>
        <div class="dropdown-menu animated flipInY">
          <!-- text-->
          <a href="#" class="dropdown-item"><i class="ti-user"></i> genre</a>
          <!-- text-->
          <a href="#" class="dropdown-item"><i class="ti-wallet"></i> language</a>
          <!-- text-->
          <a href="#" class="dropdown-item"><i class="ti-email"></i> author</a>

        </div>
      </div>
      </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-devider"></li>
        <li [class.active]="showMenu === 'start'">
          <a routerLink="/starter" (click)="addExpandClass('start')" [routerLinkActive]="['router-link-active']"><i class="icon-speedometer"></i><span
              class="hide-menu">Home</span></a>
        </li>
        <li>
          <a routerLink="/onsale" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
              class="mdi mdi-equal"></i><span class="hide-menu">Books on sale</span></a>
        </li>
        <li>
          <a routerLink="/ebook" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-message-bulleted"></i><span
              class="hide-menu">e-Books</span></a>
        </li>
        <li>
          <a routerLink="/readonline" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
              class="mdi mdi-view-carousel"></i><span class="hide-menu">Read online (new)</span></a>
        </li>
        <li *ngIf="!isConnected">
          <a routerLink="/login" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
              class="mdi mdi-calendar-clock"></i><span class="hide-menu">Log in</span></a>
        </li>
        <li *ngIf="!isConnected">
          <a routerLink="/signup" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i
              class="mdi mdi-arrange-bring-to-front"></i><span class="hide-menu">Register</span></a>
        </li>
        <li *ngIf="isConnected">
          <a routerLink="/starter"(click)="logout()" (click)="addExpandClass('component')"><i
              class="mdi mdi-arrange-bring-to-front"></i><span class="hide-menu">Log out</span></a>
        </li>
        <li>
          <a routerLink="/contact" (click)="addExpandClass('component')" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-tablet"></i><span
              class="hide-menu">contact us</span></a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
      

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" (click)="eventClicked()" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bell"  style="font-size:24px; color:gray"></i>
                </a>
                <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal5" href="#">Bike racing is happening nearby,
                    <br>
                     you may be interested!</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal6" href="#">track cycling is happening nearby,
                    <br>
                    you may be interested!</a>
                </div>
              </li>
            <li class="nav-item dropdown" style="padding-top: 10px;">

              </li>
              <li class="cercle-notice" *ngIf="!loaded" id="test">
                  2
              </li>
          <li class="nav-item active">
            <a *ngIf="path" class="nav-link" routerLink="/profile">      Siwar </a>
            <a *ngIf="!path" class="nav-link" routerLink="/">      Home </a>
          </li>
          <li class="nav-item active" >
            <a class="nav-link" routerLink="/connexion">Settings </a>
          </li>

          <li class="nav-item active" routerLinkActive="active">
            <a class="nav-link "  routerLink="/signin">Logout</a>
          </li>
        </ul>

      </div>
    </nav>


      


      
<div class="modal hide fade" data-backdrop="false" id="exampleModal5" tabindex="-1" role="dialog" style="z-index:1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"  role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Bike racing</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>come to our bike racing event !!!</h1>
          <h6>Get direction</h6>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9031.783802327865!2d10.179349317064293!3d36.83725986926483!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd349a1ee5496f%3A0x2d5951318ce151d5!2sStade+Olympique!5e0!3m2!1sen!2stn!4v1543137474181" 
        width="100%" height="300px" 
        frameborder="0" 
        style="border:0" 
        allowfullscreen>
        </iframe> 
        <p> this event is  bike racing in which we can have a lot of fun and know each other in the wonderful montain </p>
        
      </div>
      <div class="modal-footer">
          <div style=" margin: 10px">
            <img src="../../../assets/users.png" style="width: 30px; height:30px;"> 105
          </div>
          <button type="button" class="btn btn-success" data-dismiss="modal"> i am coming </button>
          <button type="button" class="btn btn-primary">i am interested</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal"> i'am not </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
            
      </div>
    </div>
  </div>
